@model List<Category> ;
@{
    ViewData["Title"] = "Category Page";
}

<h1>Welcome in Category Page </h1>
 <div class="container mt-4 ">
     <div class="row ">
        <div class="col-6 text-info p-0 m-0"> <h2>Category List</h2></div> 
          <div class="col-6 text-warning p-2 "><a class="btn btn-warning float-end" asp-area="" asp-controller="Category" asp-action="Create"><i class="bi bi-plus-circle"></i> Create Category</a></div> 
     </div>
 </div>

<table class="table table-striped border ">
  <thead>
    <tr>
    
      <th scope="col">Categor Name</th>
      <th scope="col">Dsiplay Order</th>
     
     
    </tr>
  </thead>
  <tbody>
     @{
            foreach (var category in Model)
            {
                <tr>
                    <td>
                     @category.Name
                    </td>
                    <td>
                     @category.DisplayOrder
                    </td>
                    <td><div>
                    <a class = "btn btn-info m-1" asp-controller="Category" asp-action="Edit" asp-route-id=@category.Id>Edit</a>
                    <a class = "btn btn-danger m-1" asp-controller="Category" asp-action="Delete" asp-route-id=@category.Id>Delete</a>
                    
                    </div></td>
                     <td></td>
                </tr>
            }
        }
  </tbody>
</table>